<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>AIGYM - Personal Fitness</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
    rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <script>
    (function(){if(!window.chatbase||window.chatbase("getState")!=="initialized"){window.chatbase=(...arguments)=>{if(!window.chatbase.q){window.chatbase.q=[]}window.chatbase.q.push(arguments)};window.chatbase=new Proxy(window.chatbase,{get(target,prop){if(prop==="q"){return target.q}return(...args)=>target(prop,...args)}})}const onLoad=function(){const script=document.createElement("script");script.src="https://www.chatbase.co/embed.min.js";script.id="ya5XfBtxQVCBQDwRkL6-4";script.domain="www.chatbase.co";document.body.appendChild(script)};if(document.readyState==="complete"){onLoad()}else{window.addEventListener("load",onLoad)}})();
    </script>



    
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="" />
            <span>
              AIGYM
            </span>
          </a>
          <div class="contact_nav" id="">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" href="service.html">
                  <img src="images/location.png" alt="" />
                  <span>Location</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="service.html">
                  <img src="images/call.png" alt="" />
                  <span>Call: 09178549876</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="service.html">
                  <img src="images/envelope.png" alt="" />
                  <span>aigym@gmail.com</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
      <div class="container">
        <div class="custom_nav2">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <div class="d-flex  flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav  ">
                  <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                   
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="service.html">Exercise </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="login.html">Login/Register</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                  
                </form>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          How to Perform the Exercise
        </h2>
      </div>
      <div class="service_container">




        <div class="box">
          <img src="images/squat.gif" alt="">
          <h6 class="visible_heading">
            Squat
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/IB_icWRzi4E?si=XAocGmNvWxRtiuPG">
              <img src="images/link.png" alt="">
            </a>
            <h6>
              How to do Squats
            </h6>
          </div>
        </div>

        <div class="box">
          <img src="images/deadlift.gif" alt="">
          <h6 class="visible_heading">
            Deadlift
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/XxWcirHIwVo?si=QeRIV5JcwlUZVgmd">
              <img src="images/link.png" alt="">
            </a>
            <h6>
              How to Perform Deadlift
            </h6>
          </div>
        </div>      
        
        
        <div class="box">
          <img src="images/bench.gif" alt="">
          <h6 class="visible_heading">
            Bench Press
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/4Y2ZdHCOXok?si=WG-dT6b52oOlOLqb">
              <img src="images/link.png" alt="">
            </a>
            <h6>
              How to perform beanch Press
            </h6>
          </div>
        </div>       
        


        <div class="box">
          <img src="images/Running.gif" alt="https://youtu.be/_kGESn8ArrU?si=3UDZsNc4u3y4acBF">
          <h6 class="visible_heading">
            Running
          </h6>
          <div class="link_box">
            <a href="">
              <img src="images/link.png" alt="">
            </a>
            <h6>
              How to run properly
            </h6>
          </div>
        </div>   
        
        
        
        <div class="box">
          <img src="images/walking.gif" alt="">
          <h6 class="visible_heading">
           Walking
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/2BfbiyIKnK4?si=_OPkj2v0rCvyVe-S">
              <img src="images/link.png" alt="">
            </a>
            <h6>
             Best way to walk
            </h6>
          </div>
        </div>       
        
        
        <div class="box">
          <img src="images/yoga.gif" alt="">
          <h6 class="visible_heading">
            Yoga
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/T41mYCmtWls?si=a2h0S3gRewFmQolP">
              <img src="images/link.png" alt="">
            </a>
            <h6>
             How to perform Yoga
            </h6>
          </div>
        </div>


        <div class="box">
          <img src="images/swimmming.gif" alt="">
          <h6 class="visible_heading">
            Swimming
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/8c_lt66Yvn4?si=7b5ZhxzV9MxabgQl">
              <img src="images/link.png" alt="">
            </a>
            <h6>
             How to swim properly
            </h6>
          </div>
        </div>


        <div class="box">
          <img src="images/dance.gif" alt="">
          <h6 class="visible_heading">
            Dancing
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/v3SGmJPDNVw?si=-PP1QgJ2eMnKNkf1">
              <img src="images/link.png" alt="">
            </a>
            <h6>
              Dancing exercise
            </h6>
          </div>
        </div>


        <div class="box">
          <img src="images/overhead.gif" alt="">
          <h6 class="visible_heading">
            Overhead Bench press
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/F3QY5vMz_6I?si=AP9giFQx0Q7bT6Ik">
              <img src="images/link.png" alt="">
            </a>
            <h6>
              How to perform a Overhead Benchpress
            </h6>
          </div>
        </div>


        <div class="box">
          <img src="images/pushup.gif" alt="">
          <h6 class="visible_heading">
            PushUp
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/I9fsqKE5XHo?si=UKT9tOVKlJltJsKV">
              <img src="images/link.png" alt="">
            </a>
            <h6>
              how to do push ups
            </h6>
          </div>
        </div>


        <div class="box">
          <img src="images/cycling.gif" alt="">
          <h6 class="visible_heading">
            Cycling
          </h6>
          <div class="link_box">
            <a href="https://youtu.be/ewrf_rCHUdA?si=ABaRPaLfaFRtIE78">
              <img src="images/link.png" alt="">
            </a>
            <h6>
              how to cycle properly
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <!-- info section -->

  <section class="info_section layout_padding2-top">
    <div class="container">
      <div class="info_form">
        <h4>
          Let Us Help You!
        </h4>
        
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h6>
            About AIGYM
          </h6>
          <p>
            AI Gym is an innovative fitness website that combines artificial intelligence with personalized workout routines. 
            It provides smart training plans and AI-driven recommendations to help users achieve 
            their fitness goals efficiently.
          </p>
        </div>
        <div class="col-md-2 offset-md-1">
          <h6>
            Menus
          </h6>
          <ul>
            <li class=" active">
              <a class="" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="">
              <a class="" href="service.html">Exercise</li><a>
            </li>
            <li class="">
              <a class="" href="contact.html">Contact Us</a>
            </li>
           
          </ul>
        </div>
        <div class="col-md-3">
          <h6>
            Useful Links
          </h6>
          <ul>
            <li>
              <a href="https://www.yelp.com/search?cflt=gyms&find_loc=Makati%2C+Metro+Manila&msockid=0fa4050e2e506b0018ce16302f906a43">
                Best Gym in Makati
              </a>
            </li>
            <li>
              <a href="https://www.healthline.com/health/muscle-recovery">
              Recovery
              </a>
            </li>
            
          </ul>
        </div>
        <div class="col-md-3">
          <h6>
            Contact Us
          </h6>
          <div class="info_link-box">
            <a href="">
              <img src="images/location-white.png" alt="">
              <span> Mapua Makati</span>
            </a>
            <a href="https://www.google.com/search?client=opera-gx&q=google&sourceid=opera&ie=UTF-8&oe=UTF-8">
              <img src="images/call-white.png" alt="">
              <span>09178549876</span>
            </a>
            <a href="https://www.google.com/search?client=opera-gx&q=google&sourceid=opera&ie=UTF-8&oe=UTF-8">
              <img src="images/mail-white.png" alt="">
              <span> aigymm@gmail.com</span>
            </a>
          </div>
          <div class="info_social">
            <div>
              <a href="https://www.facebook.com/">
                <img src="images/facebook-logo-button.png" alt="">
              </a>
            </div>
            <div>
              <a href="https://x.com/i/flow/login?redirect_after_login=%2Fhome">
                <img src="images/twitter-logo-button.png" alt="">
              </a>
            </div>
            <div>
              <a href="https://www.linkedin.com/">
                <img src="images/linkedin.png" alt="">
              </a>
            </div>
            <div>
              <a href="https://www.instagram.com/">
                <img src="images/instagram.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->


  <!-- footer section -->
  <section class="container-fluid footer_section ">
    <p>
      &copy; 2019 All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>